*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    scroll-behavior: smooth;
}

header {
    background: #1A2238;
    color: #eaeaea;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    margin-right: auto;
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.logo-img {
    width: 35px;
    height: 35px;
}

.logo-title {    
    cursor: pointer;
    transition: all .5s ease 0s;
}

.logo:hover {
    color: #FF6A3D;
    transform: rotate(2deg);
}

nav ul {
    display: flex;
    padding: 20px;
}

li {
    list-style-type: none;
    padding: 10PX;
    
}

li a {
    transition: all .5s ease 0s;
    display: inline-block;
}

li a:hover {
    color: #FF6A3D;
    transform: rotate(2deg);
}

a {
    color: #eaeaea;
    text-decoration: none;
}

.btn-cta {
    margin-right: 10px;
    border: none;
    font-size: 20px;
    padding: 6px 12px;
    background: #FF6A3D;
    color: #eaeaea;
    border-radius: 8px;
    cursor: pointer;
}

.container {
    max-width: 1200;
    margin: 0 auto;
    padding: 70px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.title {
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.description {
    font-size: 28px;
    font-weight: bolder;
}

.img-foto {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 10px;
}

.parallax {
    background-image: url('/assets/foto/background_aesthetic.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.tentang {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1A2238;
    color: #eaeaea;
    padding: 20px;
}

.mt-xx {
    margin-top: 20px;
}


.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card-item {
    text-align: center;
    width: 25%;
    min-height: 200px;
	max-height: 300px;
    background: #f7f7f7;
    color: #222;
    padding: 10px;
    /* margin: 10px; */
    box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.5);
   
}

.card-title {
    font-size: 18px;
    font-weight: bolder;
}

.card-description {
    font-size: 14px;
    margin-top: 4px;
}

.icon {
    width: 75px;
    height: 75px;
    margin: 10px;
    padding: 4px;
    
}

footer {
    padding: 20px;
    text-align: center;
    color: #eaeaea;
    background: #1A2238;
}

@media screen and (max-width: 500px) {
    .card {
        flex-direction: column;
        gap: 0;
    }

    .card-item {
        width: 100%;
        opacity: 0.9;
    }

    .container {
        width: 100%;
        
    }

    .title {
        font-size: 22px;
        text-align: center;
        font-weight: bold;
    }

    .intro{
        margin-top: 20px;
    }

    .img-foto {
        padding: 0;
    }

    .btn-cta {
        padding: 10px;
    }

    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #1A2238;
        z-index: 9;
    }

    footer {
        width: 100%;
		margin-bottom: 70px;
		margin-top: 70px;
	}
}